<launch>
  <!-- Joint state publisher gui -->
  <arg name="gui" default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find jaco_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  
  <!-- State publishers -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50" />
    <remap from="joint_states" to="/jaco_arm/joint_states"/>
  </node>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)" />
    <rosparam param="source_list">[jaco_arm/joint_states]</rosparam>
  </node-->
</launch>
